.font-sans {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.p {
    padding-left: 1rem;
    /* 16px */
    padding-right: 1rem;
    /* 16px */
    padding-top: 2.5rem;
    /* 40px */
    padding-bottom: 2.5rem;
    /* 40px */
    text-align: center;
}

.text-gray-700 {
    --tw-text-opacity: 1;
    color: rgba(55, 65, 81, var(--tw-text-opacity));
}

.ht {
    height: 100vh;
}

.w-screen {
    width: 100vw;
}

/* --------------- */
:root {
    /* colors */
    --page-bg: #F5F5F5;
    /* spacing */
    /* this is what defines the global scale */
    --baseline: 14px;
}

* {
    box-sizing: border-box;
}

body {
    /* background-color: #FAFAFA; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.bg-white {
    background-color: rgba(255, 255, 255, 1);
}

.cover {
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
    margin-left: 5rem;
    /* 80px */
    margin-right: 5rem;
    /* 80px */
}

.book2 {
    height: 100%;
    perspective: 1200px;
}


.book__page {
    padding-left: 2.5rem;
    /* 40px */
    padding-right: 2.5rem;
    /* 40px */
    height: 100%;
    transform-origin: 0% 0%;
    background-color: var(--page-bg);
    background-image: linear-gradient(90deg, #e3e3e3 0%, rgba(247, 247, 247, 0) 18%);
}

.word {
    cursor: pointer;
}

.word:hover {
    background-color: #7e1a1a;
    /* --tw-bg-opacity: 1;
     background-color: rgba(229, 231, 235, var(--tw-bg-opacity)) */
    background-color: rgba(229, 231, 235, 1);
    border-radius: 0.25rem;
}

/* btn */
.cursor-pointer {
    cursor: pointer;
}

.border-gray-100 {
    --tw-border-opacity: 1;
    border-color: rgba(243, 244, 246, var(--tw-border-opacity));
}

.rounded {
    border-radius: 0.25rem;
    /* 4px */
}

.hover\:bg-gray-200:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
}

.pointer-events-auto {
    pointer-events: auto;
}


.text-cyan-500 {
    --tw-text-opacity: 1;
    color: rgba(6, 182, 212, var(--tw-text-opacity));
}

.h-100 {
    /* height: 27rem; */
    min-height: 27rem;
    /* 400px */
}

.overflow-y-auto {
    overflow-y: auto;
}

.text-2xl {
    font-size: 1.8rem;
    /* 24px */
    line-height: 2.2rem;
    /* 32px */
}

.font-bold {
    font-weight: 700;
}

.py-10 {
    padding-top: 2.5rem;
    /* 80px */
    padding-bottom: 2.5rem;
    /* 80px */
}

.py-4 {
    padding-top: 1rem;
    /* 16px */
    padding-bottom: 1rem;
    /* 16px */
}

.px-10 {
    padding-left: 2.5rem;
    /* 40px */
    padding-right: 2.5rem;
    /* 40px */
}

.bg-black\/30 {
    --tw-bg-opacity: 0.3;
    background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}

.fixed {
    position: fixed;
}

.inset-0 {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.z-10 {
    z-index: 10;
}

.text-blue-500 {
    --tw-text-opacity: 1;
    color: rgba(59, 130, 246, var(--tw-text-opacity));
}

.text-xs {
    font-size: 0.75rem;
    /* 12px */
    line-height: 1rem;
    /* 16px */
}

.grid {
    display: -ms-grid;
    display: grid;
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.w-full {
    width: 100%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.px-2 {
    padding-left: 0.5rem;
    /* 8px */
    padding-right: 0.5rem;
    /* 8px */
}

.border {
    border-width: 1px;
}

.text-5xl {
    font-size: 3rem;
    /* 48px */
    line-height: 1;
}

.token {
    background-color: rgba(255, 255, 255, 1);
    width: 28rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5rem;
    border-radius: 1rem;
    padding: 2.5rem;
}